# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
# *.a
*.lib

# Executables
*.exe
*.out
*.app
/speedsketch
/speedsketch_asan
/speedsketch_tsan
/test_gdelta
/test_gdelta_asan
/test_gdelta_tsan
/test_core
/test_core_asan
/test_core_tsan
/.build/
__pycache__/
*.pyc

#others
*.vscode
*results
*draw
*test
*.csv
*all_deltaTimeDis
